/* body{ */
    /* background-color: rgb(68, 182, 182);} */
.quizcontainer{
  
    width: 30em;
    height: 20em;
    padding: 2em;
    background-color: rgb(9, 175, 181);
    box-sizing: content-box;

     
    margin: 30px 30px 30px 30px;
    
    box-shadow: 0 2px 4px rgba(0, 0,0, 0.1);
    border: 2px solid black;
}
.choices{
    display: flex;
}
.choice{
    font-size: medium;
    display: block;
    margin: 5px 5px;
    padding: .5em .75em;
    border-radius: 1em;
    background-color: rgb(0, 0, 0);
    cursor:grab;

}
.choice:hover{
    background-color: rgb(160, 148, 185);
}
#question-text{
    color: rgba(245, 245, 245, 0.971);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

  
    
    
}
.question{
    padding:15px;
    margin: 2em 2em 3em;
    background-color: rgba(3, 60, 151, 0.745);
    
   
}
.option{
    font-size: 1em;
    color: rgb(26, 4, 4);
    font-weight: bolder;
    font-style: oblique;
    
}

#feedback{
    font-size: 20px;
}
