/* body{ */
    /* background-color: rgb(68, 182, 182);} */
.quizcontainer{
  
    width: 30em;
    height: 15em;
    padding: 2em;
    background-color: aqua;
    box-sizing: content-box;

     
    margin: 30px 30px 30px 30px;
    
    box-shadow: 0 2px 4px rgba(0, 0,0, 0.1);
    border: 2px solid black;
}
.choices{
    display: flex;
}
.choice{
    font-size: medium;
    display: block;
    margin: 5px 5px;
    padding: .5em .75em;
    border-radius: 1em;
    background-color: rgb(8, 8, 8);
    cursor:grab;

}
.choice:hover{
    background-color: rgb(255, 17, 17);
}
#question-text{
    color: rgba(18, 23, 21, 0.971);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

  
    
    
}
.question{
    padding:15px;
    margin: 2em 2em 2em;
    background-color: rgb(41, 146, 94);
    
   
}
.option{
    font-size: 1em;
    color: rgb(205, 198, 198);
    font-weight: bold;
    font-style: oblique;
    
}

